@model IEnumerable<NewsSystem.Web.Areas.Admin.Models.NewsTypeViewModel>
<div class="modal-dialog add-type" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">添加新闻类型</h4>
        </div>
        <div class="modal-body">
                <select id="TypeParentId" class="add-type-select" name="ParentId">
                    <option selected>Null</option>
                    @foreach (var item in Model)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
                <input id="TypeName" class="add-type-name" type="text" name="Name" />
                <button class="add-type-btn" onclick="return AddType();" type="button">提交</button>
        </div>
    </div>
</div>
