@model  IEnumerable<NewsSystem.Web.Areas.Admin.Models.NewsViewModel>


@{
    ViewBag.Title = "GetAllNews";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/news.css" rel="stylesheet" />
<div class="getnews">
    <script src="~/Scripts/table.js"></script>
    <div class="getnew">
        <strong>未发布新闻</strong>
        <div class="add-icon"><a href="/Admin/NewsManage/WriteNews">添加新闻</a></div>
    </div>
    <hr />
    <table id="example" class="getnews">
        <thead class="one-get-th">
            <tr>
                <th>标题</th>
                <th>作者</th>
                <th>类型</th>
                <th>类型</th>
                <th>操作</th>
            </tr>
        </thead>
        @if (Model.Count() != 0)
        {
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td><a href="/Admin/NewsManage/GetOneNews?id=@item.Id">@item.Title</a></td>
                        <td>@item.Writer</td>
                        <td>@item.FirstType</td>
                        <td>@item.SecondType</td>
                        <td>
                            <a href="/Admin/NewsManage/NewsUpdate?id=@item.Id">编辑</a>
                            <a href="/Admin/NewsManage/NewsDelete?id=@item.Id">删除</a>
                            <a href="/Admin/NewsManage/NewsPublic?id=@item.Id">发布</a>
                        </td>
                    </tr>
                }
            </tbody>
        }
        else
        {
            <tbody>暂无数据</tbody>
        }
    </table>
</div>