
<h3 class="signheader">注册</h3>
<form name="myForm" class="signform">
    <input class="s-input" id="registerAccount" name="UserAccout" type="text" placeholder="手机号：" />
    <input class="s-input" id="registerPass" name="Password" type="password" placeholder="密码：" />
    <input class="s-input"id="registerNewPass" name="NewPassword" type="password" placeholder="确认密码：">
    <input  type="button" id="registerbtn"onclick="return Register();" name="type" class="s-btn" value="注册" />
</form>
